<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ADONetAppender" />
	</root>

	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="FileAppender" type="log4net.Appender.FileAppender">
		<file value="logs/logfile.log" />
		<appendToFile value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
		<bufferSize value="100" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<connectionString value="Server=.;Database=TestDb;User ID=sa;Password=sa@123;Trust Server Certificate=True;" />
		<commandText value="INSERT INTO dbo.log4net ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
		<parameter>
			<parameterName value="@log_date"/>
			<dbType value="DateTime"/>
			<layout type="log4net.Layout.RawTimeStampLayout"/>
		</parameter>
		<parameter>
			<parameterName value="@thread"/>
			<dbType value="String"/>
			<size value="255"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level"/>
			<dbType value="String"/>
			<size value="50"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger"/>
			<dbType value="String"/>
			<size value="255"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message"/>
			<dbType value="String"/>
			<size value="4000"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception"/>
			<dbType value="String"/>
			<size value="2000"/>
			<layout type="log4net.Layout.ExceptionLayout"/>
		</parameter>
	</appender>
</log4net>
	
	
