@model List<BlogDataModel>
@{
    ViewData["Title"] = "Home Page";
    string message = null;
    bool isSuccess = false;
    if (TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
        isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    }
}


<div class="text-center mt-5 d-flex justify-content-center align-items-center flex-column">
    <div class="text-center mt-5 text-white">
        <h4>Welcome From Mini ATM</h4>
        <p>Choose an option you would like to...</p>
    </div>
   <div class="d-flex flex-row gap-3 mt-5"> 
        <a href="/atm/create" class="text-decoration-none border border-info border-2 rounded-2 fs-6 p-3"> Register </a>
        <a href="/atm/withdraw" class="text-decoration-none border border-info border-2 rounded-2 fs-6 p-3"> Withdraw </a>
        <a href="/atm/deposit" class="text-decoration-none border border-info border-2  rounded-2 fs-6 p-3"> Deposit </a>
        <a href="/atm/check" class="text-decoration-none border border-info border-2 rounded-2 fs-6 p-3"> CheckBalance </a>
        <a href="/login" class="text-decoration-none border border-info border-2 rounded-2 fs-6 p-3"> Logout </a>
   </div>
</div>
<div class="mt-5">

    @if (message != null)
    {
        <div class="alert alert-@(isSuccess ? "success" : "danger")" role="alert">
            @message
        </div>
    }

</div>