<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mentor - Bootstrap 4 Admin Dashboard Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Admin template that can be used to build dashboards for CRM, CMS, etc." />
    <meta name="author" content="Potenza Global Solutions" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="/" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="theme/assets/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="theme/assets/css/vendors.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="theme/assets/css/style.css" />
    @await RenderSectionAsync("style", required: false)
</head>
<body>
 <header class="app-header top-bar">
        <!-- begin navbar -->
        <nav class="navbar navbar-expand-md">

            <!-- begin navbar-header -->
            <div class="navbar-header d-flex align-items-center">
                <a href="javascript:void:(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
                <a class="navbar-brand" href="index.html">
                    <img src="theme/assets/img/logo.png" class="img-fluid logo-desktop" alt="logo" />
                    <img src="theme/assets/img/logo-icon.png" class="img-fluid logo-mobile" alt="logo" />
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="ti ti-align-left"></i>
            </button>
            <!-- end navbar-header -->
            <!-- begin navigation -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navigation d-flex">
                    <ul class="navbar-nav nav-left">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link sidebar-toggle">
                                <i class="fa-solid fa-align-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  " href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mega Menu
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu mega-menu animated fadeIn" aria-labelledby="navbarDropdown">
                                <div class="row no-gutters">
                                    <div class="col-sm-2 p-20">
                                        <h4>UI Kit</h4>
                                        <ul>
                                            <li> 
                                                <a href="/highcharts/logarithmicaxischart">Logarithmicaxis Chart</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="javascript:void(0)" class="nav-link " id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Drop Down
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                        </li>
                        
                    </ul>
            <ul class="navbar-nav nav-right ml-auto">
              <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-envelope"></i>
                            </a>
                            <div class="dropdown-menu extended animated fadeIn" aria-labelledby="navbarDropdown">
                                <ul>
                                    <li class="dropdown-header bg-gradient p-4 text-white text-left">
                                        Messages
                                        <label class="label label-info label-round">6</label>
                                        <a href="#" class="float-right btn btn-square btn-inverse-light btn-xs m-0">
                                            <span class="font-13"> Mark all as read</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-body">
                                        <ul class="scrollbar scroll_dark max-h-240">
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <img class="img-fluid" src="theme/assets/img/avtar/03.jpg" alt="user3">
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">Brianing Leyon</p>
                                                            <small>You will sail along until you...</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <img class="img-fluid" src="theme/assets/img/avtar/01.jpg" alt="user">
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">Jimmyimg Leyon</p>
                                                            <small>Okay</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <img class="img-fluid" src="theme/assets/img/avtar/02.jpg" alt="user2">
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">Brainjon Leyon</p>
                                                            <small>So, make the decision...</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <img class="img-fluid" src="theme/assets/img/avtar/04.jpg" alt="user4">
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">Smithmin Leyon</p>
                                                            <small>Thanks</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <img class="img-fluid" src="theme/assets/img/avtar/05.jpg" alt="user5">
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">Jennyns Leyon</p>
                                                            <small>How are you</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <img class="img-fluid" src="theme/assets/img/avtar/06.jpg" alt="user6">
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">Demian Leyon</p>
                                                            <small>I like your themes</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a class="font-13" href="javascript:void(0)"> View All messages </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
              <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class=" fa-regular fa-bell"></i>
                                <span class="notify">
                                    <span class="blink"></span>
                                    <span class="dot"></span>
                                </span>
                            </a>
                            <div class="dropdown-menu extended animated fadeIn" aria-labelledby="navbarDropdown">
                                <ul>
                                    <li class="dropdown-header bg-gradient p-4 text-white text-left">
                                        Notifications
                                        <a href="#" class="float-right btn btn-square btn-inverse-light btn-xs m-0">
                                            <span class="font-13"> Clear all</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-body min-h-240 nicescroll">
                                        <ul class="scrollbar scroll_dark max-h-240">
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <div class="bg-type bg-type-md">
                                                                <span>HY</span>
                                                            </div>
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">New registered user</p>
                                                            <small>Just now</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <div class="bg-type bg-type-md bg-success">
                                                                <span>GM</span>
                                                            </div>
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">New invoice received</p>
                                                            <small>22 min</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <div class="bg-type bg-type-md bg-danger">
                                                                <span>FR</span>
                                                            </div>
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">Server error report</p>
                                                            <small>7 min</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <div class="bg-type bg-type-md bg-info">
                                                                <span>HT</span>
                                                            </div>
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">Database report</p>
                                                            <small>1 day</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <div class="notification d-flex flex-row align-items-center">
                                                        <div class="notify-icon bg-img align-self-center">
                                                            <div class="bg-type bg-type-md">
                                                                <span>DE</span>
                                                            </div>
                                                        </div>
                                                        <div class="notify-message">
                                                            <p class="font-weight-bold">Order confirmation</p>
                                                            <small>2 day</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a class="font-13" href="javascript:void(0)">
                                            View All Notifications
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
              <li class="nav-item">
                            <a class="nav-link search" href="javascript:void(0)">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            <div class="search-wrapper">
                                <div class="close-btn">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                                <div class="search-content">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control autocomplete" placeholder="Search Here" id="autocomplete-ajax" autofocus="autofocus">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
              <li class="nav-item dropdown user-profile">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle " id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="theme/assets/img/avtar/02.jpg" alt="avtar-img">
                                <span class="bg-success user-status"></span>
                            </a>
                            <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
                                <div class="bg-gradient px-4 py-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="mr-1">
                                            <h4 class="text-white mb-0">Alice Williams</h4>
                                            <small class="text-white">Henry@example.com</small>
                                        </div>
                                        <a href="#" class="text-white font-20 tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout">
                                            <i class="zmdi zmdi-power"></i>
                                        </a>
                                    </div>
                                </div>
                              
                            </div>
                        </li>
             </ul>
            </div>
            </div>
            <!-- end navigation -->
        </nav>
        <!-- end navbar -->
    </header>

    <aside class="app-navbar">
        <!-- begin sidebar-nav -->
        <div class="sidebar-nav scrollbar scroll_light">
            <ul class="metismenu " id="sidebarNav">
                <li class="nav-static-title">Personal</li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-pie-chart"></i><span class="nav-title">Charts</span></a>
                    <ul aria-expanded="false">
                        <li> <a href="/highcharts/logarithmicaxischart">Logarithmicaxis Chart</a></li>
                        <li> <a href="chart-flot.html">Flot Chart</a> </li>
                        <li> <a href="chart-morris.html">Morris Chart</a> </li>
                        <li> <a href="chart-chartist.html">Chartist Charts</a> </li>
                        <li> <a href="chart-chartjs.html">Chartjs Chart</a> </li>
                        <li> <a href="chart-c3.html">C3 Chart</a> </li>
                        <li> <a href="chart-sparkline.html">Sparkline Chart</a> </li>
                        <li> <a href="chart-knob.html">Knob Chart</a> </li>
                    </ul>
                </li>
               
               
            </ul>
        </div>
        <!-- end sidebar-nav -->
    </aside>
    <div class="app-main" id="main">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin row -->
            @RenderBody()
        </div>
    </div>

    <footer class="footer">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-left">
                <p>&copy; Copyright 2019. All rights reserved.</p>
            </div>
            <div class="col  col-sm-6 ml-sm-auto text-center text-sm-right">
                <p>Hand-crafted made with <i class="fa fa-heart text-danger mx-1"></i> by Potenza</p>
            </div>
        </div>
    </footer>


    <!-- plugins -->
    <script src="theme/assets/js/vendors.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/11.2.0/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/11.2.0/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/dumbbell.js"></script>
    <script src="https://code.highcharts.com/modules/lollipop.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- custom app -->
    <script src="theme/assets/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
