@model ItemDataResponseModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
@foreach (var item in Model.Data)
{
        <div class="listProduct">
            <div data-id="@item.ItemId" class="item">
                <img src="~/assets/image/@(item.ItemId).png" />
                <h2>@item.Name</h2>
                <div class="price">$@item.Price</div>
                <button class="addCart">Add To Cart</button>
            </div>
        </div>
}
</div>

<div class="cartTab">
    <h1>Shopping Cart</h1>
    <div class="listCart">
    </div>
    <div class="btn">
        <button class="close">CLOSE</button>
        <button class="checkOut">Check Out</button>
    </div>
</div>