@model ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid text-center">
    <div data-id="1" class="item">
        <img src="@Url.Content(Model.ImagePath)" alt="" />
        <h2> LD01 LOUNGE CHAIR</h2>
        <div class="price">$200</div>
        <button class="addCart">Add To Cart</button>
    </div>
</div>
