<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="NLog NLog.xsd"
      autoReload="true"
      internalLogFile="C:\Users\hlain\source\repos\MackDotNetCore\MackDotNetCore.NlogExampleConsoleApp\bin\Debug\net7.0\Logs\console-example-internal.log"
      internalLogLevel="Info">

	<targets>
		<target xsi:type="File" name="logfile" fileName="C:\Users\hlain\source\repos\MackDotNetCore\MackDotNetCore.NlogExampleConsoleApp\bin\Debug\net7.0\Logs\console-example.log"
                layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
                layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Database" name="logdatabase"
                connectionString="Server=.;Database=TestDb;User ID=sa;Password=sa@123;Trust Server Certificate=True;"
                commandText="INSERT INTO NLogTable (LogLevel, LogMessage, LogException) VALUES (@level, @message, @exception)">
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile,logconsole,logdatabase" />
	</rules>
</nlog>
