<main>
    <form action="/login/index" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <h3 class="text-white">Login</h3>
        <div class="form-floating mb-4">
            <input type="text" class="form-control w-full" name="CardNum">
            <label for="floatingInput">Card Number</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" class="form-control w-full" name="Pin">
            <label for="floatingPassword">Pin Number</label>
        </div>

        <button class="w-full btn btn-lg btn-primary" type="submit" href="/">Sign in</button>
       
    </form>
</main>