@model BlogDataModel

<h2>Balance Check Result</h2>

@if (Model != null)
{
    <p>UserName: @Model.FirstName</p>
    <p>Card Number: @Model.CardNum</p>
    <p>Balance: @Model.Balance $</p>
}
else
{
    <p>Blog not found or invalid Card Number/PIN.</p>
}

<p><a href="/home" class="text-decoration-none">Back to Balance Check</a></p>

