@model BlogDataModel

<h2>Balance Check Result</h2>

@if (Model != null)
{
   <div class="bg-black w-50 ">
       <div class="p-3">
            <p class="text-white">UserName: @Model.FirstName</p>
            <p class="text-white">Card Number: @Model.CardNum</p>
            <p class="text-white">Balance : @Convert.ToDecimal(Model.Balance).ToString("n2") $</p>
       </div>
        <div class="p-3"><p><a href="/atm/check" class="text-decoration-none">Back to Balance Check</a></p></div>

   </div>
}
else
{
    <p>Blog not found or invalid Card Number/PIN.</p>
}


