@model List<BlogDataModel>

<form action="/atm/deposit" method="post">
	<p class="text-white-50 fw-bold"><span class="fs-3">Hello, Sir.</span><br /> Please fill the input boxes to deposit.</p>
	<div class="mb-3">
		<label class="form-label text-white-50">CardNumber</label>
		<input type="text" name="CardNum" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label text-white-50">PinNumber</label>
		<input type="text" name="Pin" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label text-white-50">Balance</label>
		<input type="text" name="Balance" class="form-control">
	</div>
	<a href="/home" type="button" class="btn btn-secondary">Cancel</a>
	<button type="submit" class="btn btn-success">Deposit</button>
</form>