@model BlogDataModel

<form action="/blog/update/@Model.blog_id" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="blog_title" value="@Model.blog_title" class="form-control w-25">
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" name="blog_authour" value="@Model.blog_authour" class="form-control w-25">
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <input type="text" name="blog_content" value="@Model.blog_content" class="form-control w-25">
    </div>
    <a href="/blog" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-success">Update</button>
</form>

